body {
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    box-sizing: border-box;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    padding: 15px;
    font-size: 18px;
    background-color: #01000c;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #000b01;
  }